@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.activeLink{

}

.inactiveLink{

}

@layer components {
    .inactiveLink{
        @apply text-2xl font-semibold text-secondary hover:text-action
    }
    .activeLink {
        @apply text-2xl font-semibold text-action
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @layer  base {
    input{
        @apply  px-4 py-2 outline-none rounded-lg border
    }
    textarea{
        @apply  px-4 py-2 outline-none rounded-lg border
    }
  }

  @font-face {
    font-family: "moon";
    src: url("../public/assets/fonts/moon_get-Heavy.ttf");
  }